<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1'>
    <title>Alcohol CMG</title>   
    <link rel=stylesheet href='styles/styles2.css'>
    <link rel=stylesheet href='styles/fontello2.css'>
</head>
<body>
    <header>
        <div class="contenedor">
            <h1 class="icon-plus">Alcohol Etilico F+</h1><!-- Izquierda del header-->
            <input type="checkbox" id="menu-bar"><!-- Un input para que sirva como boton-->
            <label class="icon-menu" for="menu-bar"></label><!-- el input se activa o se desactiva-->
            <nav class="menu">
                <a href="Pagina.html">Inicio</a>
                <a href="Productos.html">Producto</a>
                <a href="Comenta.html">Comenta</a>
                <a href="Contactanos.html">Contactanos</a>
            </nav>
        </div>
    </header>
    <main>
        <section id="banner">
            <img src="img/banner.jpg">
            <div class="contenedor">
            <h2>Alcohol de Calidad Extra </h2>
            <p>Disponemos de un Alcohol de 96° de gran calidad a un precio de uno de baja</p>
            <a href="#">Leer Mas</a>
            </div>
        </section>

    <section id="Bienvenidos">
        <h2>Sacale la Corona al Virus!!!</h2>
        <p>Con nuestros exelentes precios usted podra acceder un producto de una calidad premium a un costo mas que razonable.</p>
    </section>
    <section id=blog>
        <h3>Nuestros Productos:</h3>
        <article>
            <img src="img/muestra1.jpg">
            <h4>Alcohol Etilico 96° -1 Litro $200 - 5 Litros 1.000 - 1/2 Litro $100</h4>
        </article>
        <article>
            <img src="img/muestra2.jpg">
            <h4>Alcohol Etilico de Cereal 96° -1 Litro $200  </h4>
        </article>
        <article>
            <img src="img/muestra3.jpg">
            <h4>Alcohol Etilico Diluido 70° -200 mililitros $110 </h4>
        </article>
    </section>
    <section id="info">
        <h3>Maneras de Contactarnos:</h3>
        <div class="contenedor">
            <div class="info-pet">
            <a href="https://www.instagram.com/alcoholcmg/">
                <img src="img/instagram.jpg" alt="">
                <h4>Instagram</h4>
            </a>
            </div>
            <div class="info-pet">       
                <a href="https://www.facebook.com/profile.php?id=100057570185983">
                <img src="img/facebook.png" alt="">
                <h4>Facebook</h4>
               </a>
            </div>
            <div class="info-pet">
                <a href="Contactanos.html">
                <img src="img/whatsapp.png" alt="">
                <h4>WhatsApp</h4>
                </a>
            </div>
            <div class="info-pet">   
                  <a href="Contactanos.html">
                <img src="img/gmail.png" alt="">

                <h4>Gmail</h4> </a>
            </div>
        </div>
        <p>+54 11 3947-0039</p>
    </section>
    </main>
    <footer>
        <div class="contenedor">
            <p class="copy">CMG &copy; 2020</p>
            <div class="Sociales">
                <a class="icon-gmail" href="Contactanos.html"></a>
                <a class="icon-facebook" href="https://www.facebook.com/profile.php?id=100057570185983"></a>
                <a class="icon-whatsapp" href="Contactanos.html"></a>
                <a class="icon-instagram" href="https://www.instagram.com/alcoholcmg/"></a>
            </div>
        </div>
    </footer>

</body>
</html>